*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#header{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #1F2937;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.logo{
    display: flex;
    width: 25%;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin-left: 100px;
}
.header-link{
    display: flex;
    flex-direction: row;
    width: 75%;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: flex-end;
    margin-right: 100px;
}
.hlink{
    margin-left: 16px;
}

#hero{
    display: flex;
    background-color: #1F2937;
    min-height: 480px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 52px;
        
}

.main-a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 100px;
    width: 45%;
    min-height: 280px;
}

.main-b{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #727b86;
    margin-right: 100px;
    width: 45%;
    min-height: 280px;
    

}

.hero-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 8px;

}

.hero-subtext{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

button{
    background-color: #3882F6;
    padding: 6px 20px;
    border-radius: 8px;
    border-style: none;
    color:#F9FAF8;
    font-weight: bold;
    font-size: large;
}

#info{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-height: 400px;
}

.info-title{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 28px;
    margin-bottom: 28px;
    justify-content: center;
}

.info-content{
    display: flex;
    justify-content: center;
    gap: 56px;
    margin-bottom: 120px;

}

.info-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #3882F6;
    border-radius: 16px;
    width: 160px;
    height: 160px;

}

.info-subtext{
    width: 160px;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: #1F2937;
}

#quote{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    min-height: 360px;
    width: 100%;
}

.quote-text{
    width: 60%;
    font-weight: lighter;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}
.quote-auther{
    display: flex;
    justify-content: flex-end;
    font-weight:bolder;
    color: #1F2937;
    font-size: 24px;
    width: 60%;
}

#cta{
    display: flex;
    min-height: 300px;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;

}
.cta.content{
    display: flex;
    width: 70%;
    background-color: #3882F6;
    padding: 40px 80px 40px;
    border-radius: 8px;
}


button.cta{
    background-color: #3882F6;
    padding: 6px 20px;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
    color:#F9FAF8;
    font-weight: bold;
    font-size: medium;
    margin-left: auto;

}

#footer{
    display: flex;
    min-height: 80px;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: white;

}